@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Clash Display', 'sans-serif';
    font-size: 16px;
    font-weight: 400;
  }
}

.container {
		@apply max-w-[1336px] my-0 mx-auto px-7
}

#app {
  @apply overflow-hidden flex flex-col min-h-screen
}

@layer components {
  .header__top {
    border-color:rgba(0, 0, 0, 0.1)
  }
}

@layer components {
  .nav__link {
      font-family:'Satoshi';
  }
  .nav__link:hover {
    color:#fff;
  }
}

