:root {
    --main--color: #2A254B;
    --link-color: #726E8D;
    --title-color:#22202E;
    --text-color:#5B5676;
    --white-color: #fff;
    --main-font:'Clash Display', sans-serif;
    --secondary--font:'Satoshi', sans-serif;
}

/* font-family: 'Clash Display', sans-serif; */

/* font-family: 'Satoshi', sans-serif; */
